version: "2"
services:
  # jenkins:
  #   container_name: jenkins-compose
  #   build:
  #     context: jenkins-dockerfile
  #     dockerfile: Dockerfile
  #   user: root
  #   ports:
  #     - 8000:8080
  #     - 8888:50000
  #   volumes:
  #     - /home/ubuntu/compose/jenkins:/var/jenkins_home
  #     - /home/ubuntu/compose/.ssh:/root/.ssh
  spring:
    # 컨테이너 이름
    container_name: spring-container
    build:
      # 경로
      context: .
      # 사용할(?) docker 파일
      dockerfile: Dockerfile
    ports:
      # 지정 포트
      # 호스트의 8080 포트를 컨테이너의 8080 포트와 매핑
      - 8000:8000
    volumes:
      # - /home/ubuntu/compose/jenkins/workspace/spring-boot-ci-cd/build/libs:/deploy
      - /jenkins/workspace/ChameleHOME/backend/build/libs/ChameleHOME-0.0.1-SNAPSHOT.jar