.addCage {
  width: 90%;
  height: 5vh;
  color: white;
  background-color: #5cb15a;
  box-shadow: 2px 2px 2px 1px lightgray;
  margin: 1vh;
  border-radius: 10px;
  font-size: 2.5vh;
  border: none;
}

.cageContainer {
  width: 90%;
  height: 15vh;
  box-shadow: 4px 4px 10px 3px lightgray;
  margin: 2vh auto;
  padding: 2vh 5vw;
  border-radius: 20px 20px;
  display: flex;
}

.imgContainer {
  height: 100%;
  width: 35%;
}

.infoContainer {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cageInfo {
  display: flex;
}

.eachInfo {
  margin: 0px 2vw;
  font-size: 2vh;
  font-weight: bold;
}

.cageName {
  font-size: 2.5vh;
  font-weight: bold;
}