.noDeco {
  text-decoration: none;
  color: black;
}

.mainContainer {
  background-color: white;
  width: 90%;
  margin: 2vh auto;
  padding: 1.5vh 5vw 2vh;
  border-radius: 20px 20px;
  box-shadow: 4px 4px 10px 3px lightgray;
}

.animalContainer {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animalTop {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 2vh;
}

.animalsContent {
  height: 17vh;
  padding: 0px 2vw;
}

.moveIcon {
  margin: 0px 0px;
  padding: 0px 0px;
  display: flex;
  align-items: center;
}

.noCage {
  font-size: 2vmax;
}

.animalName {
  font-size : 1.5vh;
  font-weight: bold;
}

.animalContent {
  height: 17vh;
  width: 45%;
  margin: 0px 2vw;
  box-shadow: 4px 4px 10px 3px lightgray;
}

.animalImg {
  width:100%;
  height: 80%;
  object-fit: contain;
}

.settingContatiner {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settingContatiner {
  padding: 1vh 5vw;
}

.eachInfoContainer {
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.eachInfoText {
  margin: 0px 0px;
  display: flex;
  align-items: center;
}

.infoIcon {
  font-size: 7vmin;
}

.btnContainer {
  width: 90%;
  height: 10vh;
  margin: 5vh auto 0px;
  display: flex;
  justify-content: center;
}

.settingBtn {
  width: 33%;
}