.addCage {
  width: 90%;
  background-color: #5cb15a;
  box-shadow: 2px 2px 2px 1px lightgray;
  margin: 1vh;
  border-radius: 10px;
  font-size: 4vmin;
}

.cageContainer {
  width: 90%;
  height: 15vh;
  background-color: lightgray;
  margin: 2vh auto;
  padding: 2vh 5vw;
  border-radius: 20px 20px;
  display: flex;
}

.imgContainer {
  height: 100%;
  width: 35%;
}

.infoContainer {
  height: 100%;
  width: 65%;
  background-color: bisque;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}