.DicList {
  margin: 0px 5vw;
}

.dicItemContainer {
  height: 15vh;
  margin: 2vh auto;
  padding: 0.7vh 4vw;
  box-shadow: 4px 4px 10px 3px lightgray;
  border-radius: 20px 20px;
}

.dicImgContainer {
  width: 100%;
  height: 11vh;
}

.dicImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dicTextContainer {
  font-size: 1.5vh;
  font-weight: bold;
}