.Header {
  color: white;
  background-color: #5cb15a;
  margin-top: 0px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 7vh;
}

.pageName {
  margin: 0px;
  /* font-weight: bold; */
  text-shadow: 2px 2px 2px gray;
  font-size: 3vh
}