.noDeco {
  text-decoration: none;
  color: black;
}

.mainContainer {
  background-color: white;
  width: 90%;
  margin: 2vh auto;
  padding: 2vh 5vw;
  border-radius: 20px 20px;
  box-shadow: 4px 4px 10px 3px lightgray;
}

.mainCages {
  height: 25vh;
}

.mainDic {
  height: 30vh;
}

.mainShops {
  height: 20vh;
}

.cagesTop {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 2vh;
}

.cagesContent {
  object-fit: cover;
  height: 15vh;
}