/* 공통 css */
.noDeco {
  text-decoration: none;
  color: black;
}

.mainContainer {
  background-color: white;
  width: 90%;
  margin: 2vh auto;
  padding: 1.5vh 5vw 2vh;
  border-radius: 20px 20px;
  box-shadow: 4px 4px 10px 3px lightgray;
}

.containerTop {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 2vh;
}

.moveIcon {
  margin: 0px 0px;
  padding: 0px 0px;
  display: flex;
  align-items: center;
}

/* 케이지 정보 */
.mainCages {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cagesContent {
  height: 17vh;
  padding: 0px 2vw;
}

.cageContent {
  height: 17vh;
  width: 45%;
  margin: 0px 2vw;
  box-shadow: 4px 4px 10px 3px lightgray;
}

.cageImg {
  width:100%;
  height: 80%;
  object-fit: contain;
}



.cageName {
  font-size : 1.5vh;
  font-weight: bold;
}

.noCage {
  font-size: 2vmax;
}

/* 도감 컨테이너 */
.mainDic {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dicContainer {
  height: 25vh;
}

.dicContent {
  height: 22vh;
}

.dicImg {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.dicText {
  font-size: 2vh;
  font-weight: bold;
}

/* 추천 상품 컨테이너 */
.mainShops {
  height: 20vh;
}

.shopContainer {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
