.noDeco {
  text-decoration: none;
  color: black;
}

.mainContainer {
  background-color: white;
  width: 90%;
  margin: 2vh auto;
  padding: 1.5vh 5vw 2vh;
  border-radius: 20px 20px;
  box-shadow: 4px 4px 10px 3px lightgray;
}

.mainCages {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainDic {
  height: 30vh;
}

.mainShops {
  height: 20vh;
}

.cagesTop {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 2vh;
}

.cagesContent {
  height: 17vh;
  padding: 0px 2vw;
}

.cageContent {
  height: 17vh;
  width: 45%;
  margin: 0px 2vw;
  box-shadow: 4px 4px 10px 3px lightgray;
}

.cageImg {
  width:100%;
  height: 80%;
  object-fit: contain;
}

.moveIcon {
  margin: 0px 0px;
  padding: 0px 0px;
  display: flex;
  align-items: center;
}

.cageName {
  font-size : 1.5vh;
  font-weight: bold;
}

.noCage {
  font-size: 2vmax;
}
