/* 공통 */
.infoContainer {
  margin: 1vh auto 3vh;
  box-shadow: 4px 4px 5px 3px lightgray;
  border-radius: 10px 10px;
  width: 90vw;
}

/* 이미지 */
.imgContainer {
  padding: 2vh 5vw;
  height: 30vh;
}

.infoImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 텍스트 정보 */
.basicInfoContainer{
  padding: 2vh 10vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.infoName {
  margin: 0px 0px;
  font-size: 3vh;
  font-weight: bold;
  text-align: start;
}

.infoSpecies {
  margin: 0px 0px;
  font-size: 2vh;
  font-weight: bold;
}

.infoGender {
  width: 7vh;
  height: 7vh;
  border-radius: 10px 10px;
  font-size: 4vh;
  font-weight: bold;
}

/* 특이사항 정보 */
.issue {
  text-align: center;
  font-size: 10vh;
}




