#spring:
#  datasource:
#    url: jdbc:h2:mem:testdb
#
#  h2:
#    console:
#      enabled: true

spring:
  config:
    active:
      on-profile: docker
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://43.202.68.60:3306/boot_jpa?characterEncoding=UTF-8
    username: A101
    password: ssafy

  h2:
    console:
      enabled: true
