server:
  port: 8000

spring:
  jackson:
    serialization:
      fail-on-empty-beans: false
#    objectMapper:git 
#      serializationInclusion: NON_NULL
#      propertyNamingStrategy: SNAKE_CASE
#      dateFormat: yyyy-MM-dd HH:mm:ss
#      timeZone: Asia/Seoul
#    builder:
#      features:
#        WRITE_DATE_KEYS_AS_TIMESTAMPS: false

#  security:
#    oauth2:
#      client:
#        registration:
#          google:
#            client-id: 500029350887-u6i1dq6evsfbkb3d9e67d245prejn74v.apps.googleusercontent.com
#            client-secret: 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
#            scope:
#              - email
#              - profile
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://i9a101.p.ssafy.io:3306/test?serverTimezone=UTC&useUnicode=true&characterEncoding=utf8
    username: root
    password: A967788!

  jpa:
    open-in-view: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        ddl-auto: update
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
#jwt:
  # secret: VlwEyVBsYt9V7zq57TejMnVUyzblYcfPQye08f7MGVA9XkHa
#jwt:
#  issuer: ysang10@naver.com
#  secret_key: study-springboot
