server:
  port: 8000

spring:
  jackson:
    serialization:
      fail-on-empty-beans: false
#    objectMapper:git
#      serializationInclusion: NON_NULL
#      propertyNamingStrategy: SNAKE_CASE
#      dateFormat: yyyy-MM-dd HH:mm:ss
#      timeZone: Asia/Seoul
#    builder:
#      features:
#        WRITE_DATE_KEYS_AS_TIMESTAMPS: false

#  security:
#    oauth2:
#      client:
#        registration:
#          google:
#            client-id: 500029350887-u6i1dq6evsfbkb3d9e67d245prejn74v.apps.googleusercontent.com
#            client-secret: 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
#            scope:
#              - email
#              - profile
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://i9a101.p.ssafy.io:3306/test?serverTimezone=UTC&useUnicode=true&characterEncoding=utf8
    username: root
    password: A967788!

  jpa:
    open-in-view: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        ddl-auto: update
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
  mail:
    smtp:
      auth: true
      port: 465
      socketFactory:
        class: javax.net.ssl.SSLSocketFactory
        fallback: false
        port: 465
      starttls:
        required: true
        enable: true

#  mail:
#    host: smtp.naver.com
#    port: 587
#    username: younprize # 앱 비밀번호 발급받은 google 계정
#    password: A967788! # 발급받은 앱 비밀번호 (16자리 입니다.) -> 복붙
#    properties:
#      debug: true
#      mail:
#        smtp:
#          ssl:
#            enable: true
##            trust: smtp.naver.com
#          starttls:
#            enable: false
#          auth: true
jwt:
  token:
   secret: VlwEyVBsYt9V7zq57TejMnVUyzblYcfPQye08f7MGVA9XkHa
#jwt:
#  issuer: ysang10@naver.com
#  secret_key: study-springboot

AdminMail:
  id: younprizee@gmail.com
  password: ouzxlsfcxnzhflri