server:
  port: 8000

spring:
  datasource:
    # url: jdbc:h2:mem:testdb
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://i9a101.p.ssafy.io:3306/test?serverTimezone=UTC&useUnicode=true&characterEncoding=utf8
    username: root
    password: A967788!

  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        ddl-auto: update
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
#jwt:
  # secret: VlwEyVBsYt9V7zq57TejMnVUyzblYcfPQye08f7MGVA9XkHa
jwt:
  issuer: ysang10@naver.com
  secret_key: study-springboot